@import 'variables/colors';

.separator {
  height: 1px;
  margin: 40px 0px 40px;
  border-bottom: 2px solid;

  &.small { width: 20px; }
  &.medium { width: 30px; }

  &.brand { border-color: $brand; }
  &.wrong { border-color: $wrong; }
  &.primary { border-color: $grey1; }
  &.negative { border-color: white; }
}
