@import 'variables/colors';

.separator {
  width: 30px;
  height: 1px;
  margin: 40px 0px 40px;
  border-bottom: 2px solid;

  &.brand { border-color: $brand; }
  &.primary { border-color: $grey4; }
}
