@import 'variables/colors';
@import 'variables/fonts';

.base {
  @include font-size(5);
  font-weight: 600;

  border-radius: 5px;
  border: 2px solid transparent;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: block;
  font-family: $font-stack;
  outline: none;
  text-align: center;
  text-decoration: none;
  width: 100%;

  &.small {
    height: 40px;
    padding: 8px 20px;
  }

  &.medium {
    height: 50px;
    padding: 13px 23px;
  }
}

.collapsed {
  width: inherit;
}

.default {
  @extend .base;

  &:disabled {
    opacity: .5;
    cursor: default;
  }

  &.primary {
    background-color: $grey1;

    &:active, &:focus {
      background-color: darken($grey1, 10%);
    }
  }

  &.secondary {
    background-color: $secondary;

    &:active, &:focus {
      background-color: darken($secondary, 10%);
    }
  }

  &.brand {
    background-color: $brand;

    &:active, &:focus {
      background-color: darken($brand, 10%);
    }
  }

  &.darker {
    background-color: rgba(0,0,0, 0.1);

    &:active, &:focus {
      background-color: rgba(0,0,0, 0.2);
    }
  }

  &.terciary {
    background-color: $grey4;
    color: $grey1;
    font-weight: 500;

    &:active, &:focus {
      background-color: darken($grey4, 10%);
    }
  }

  &.correct {
    background-color: $correct;

    &:active, &:focus {
      background-color: darken($correct, 10%);
    }
  }

  &.wrong {
    background-color: $wrong;

    &:active, &:focus {
      background-color: darken($wrong, 10%);
    }
  }

  &.negative {
    background-color: white;
    color: $brand;

    &:active, &:focus {
      background-color: darken(white, 10%);
    }
  }
}

.outline {
  @extend .base;
  background: transparent;

  &:disabled {
    opacity: .5;
    cursor: default;
  }

  &.primary {
    border-color: $grey1;
    color: $grey1;

    &:active, &:focus {
      border-color: darken($grey1, 10%);
      color: darken($grey1, 10%);
    }
  }

  &.secondary {
    border-color: $secondary;
    color: $secondary;

    &:active, &:focus {
      border-color: darken($secondary, 10%);
      color: darken($secondary, 10%);
    }
  }

  &.brand {
    border-color: $brand;
    color: $brand;

    &:active, &:focus {
      border-color: darken($brand, 10%);
      color: darken($brand, 10%);
    }
  }

  &.darker {
    border-color: rgba(0,0,0, 0.1);
    color: rgba(0,0,0, 0.1);

    &:active, &:focus {
      border-color: rgba(0,0,0, 0.2);
      color: rgba(0,0,0, 0.2);
    }
  }

  &.terciary {
    border-color: $grey4;
    color: $grey3;

    &:active, &:focus {
      border-color: darken($grey4, 10%);
      color: $grey3;
    }
  }

  &.correct {
    border-color: $correct;
    color: $correct;

    &:active, &:focus {
      border-color: darken($correct, 10%);
      color: darken($correct, 10%);
    }
  }

  &.wrong {
    border-color: $wrong;
    color: $wrong;

    &:active, &:focus {
      border-color: darken($wrong, 10%);
      color: darken($wrong, 10%);
    }
  }

  &.negative {
    border-color: white;
    color: white;

    &:active, &:focus {
      border-color: darken(white, 10%);
      color: darken(white, 10%);
    }
  }
}
