{
  "presets": [
    "flow",
    "react"
  ],
  "plugins": [
    "transform-decorators-legacy",
    "transform-class-properties",
    "babel-plugin-transform-es2015-for-of",
    "transform-es2015-parameters",
    ["transform-object-rest-spread", { "useBuiltIns": true }],
    ["transform-react-jsx", { "useBuiltIns": true }],
    ["transform-regenerator", { "async": false }]
  ]
}
