@import 'variables/colors';
@import 'variables/fonts';

.buttonLink {
  @include font-size(4);

  background: transparent;
  border: none;
  color: $brand;
  cursor: pointer;
  display: inline-block;
  font-weight: 500;
  outline: none;
  text-align: center;
}
