@import 'variables/colors';
@import 'variables/fonts';

.buttonLink {
  background: transparent;
  border: none;
  color: $brand;
  cursor: pointer;
  display: inline-block;
  font-weight: 500;
  outline: none;
  text-align: center;

  &.medium {
    @include font-size(4);
  }

  &.small {
    @include font-size(5);
  }
}
