@import 'variables/colors';

@mixin disabled_styles {
  &:disabled {
    opacity: .4;
    cursor: default;
    border-color: $grey2;
    color: $grey2;
    fill: $grey2;
  }
}

.default {
  display: block;
  border-radius: 200px;
  background: none;
  border: 2px solid white;
  color: white;
  cursor: pointer;
  @include disabled_styles;

  /* We need this because firefox does not support flex in buttons */
  .flex {
    display: flex;
    align-items: center;
  }


  .icon {
    flex: 0 0 auto;
    height: 28px;
    width: 28px;

    // HACK: Overwrite Icon
    svg {
      height: 28px;
      width: 28px;
    }
  }

  .label {
    flex: 0 0 auto;
    display: none;
    padding-right: 10px;
    font-weight: 600;

    &.opened {
      display: block;
    }
  }

  &:hover {
    .label {
      display: block;
    }
  }

  &.primary {
    border-color: $grey2;
    color: $grey2;
    fill: $grey2;
    @include disabled_styles;
  }

  &.brand {
    border-color: $brand;
    color: $brand;
    fill: $brand;
    @include disabled_styles;
  }

  &.terciary {
    border-color: $grey3;
    color: $grey3;
    fill: $grey3;
    @include disabled_styles;
  }

  &.correct {
    border-color: $correct;
    color: $correct;
    fill: $correct;
    @include disabled_styles;
  }

  &.wrong {
    border-color: $wrong;
    fill: $wrong;
    @include disabled_styles;
  }

  &.featured {
    background: white;
    border-color: white;
    box-shadow: 0px 2px 10px $grey4;
    color: $brand;

    .icon {
      fill: $brand;
    }
  }
}
