@import 'variables/colors';

.default {
  display: block;
  border-radius: 200px;
  background: none;
  border: 2px solid white;
  color: white;
  cursor: pointer;

  /* We need this because firefox does not support flex in buttons */
  .flex {
    display: flex;
    align-items: center;
  }

  &:disabled {
    opacity: .5;
    cursor: default;
  }

  .icon {
    flex: 0 0 auto;
    height: 28px;
    width: 28px;

    // HACK: Overwrite Icon
    svg {
      height: 28px;
      width: 28px;
    }
  }

  .label {
    flex: 0 0 auto;
    display: none;
    padding-right: 10px;
    font-weight: 600;

    &.opened {
      display: block;
    }
  }

  &:hover {
    .label {
      display: block;
    }
  }

  &.primary {
    border-color: $grey2;
    color: $grey2;
    fill: $grey2;
  }

  &.brand {
    border-color: $brand;
    color: $brand;
    fill: $brand;
  }

  &.terciary {
    border-color: $grey3;
    color: $grey3;
    fill: $grey3;
  }

  &.correct {
    border-color: $correct;
    color: $correct;
    fill: $correct;
  }

  &.wrong {
    border-color: $wrong;
    fill: $wrong;
  }

  &.featured {
    background: white;
    border-color: white;
    box-shadow: 0px 2px 10px $grey4;

    .icon {
      fill: $brand;
    }
  }
}
