$small_size: 20px;
$small_radius: 8px;

$short_size: 30px;
$short_radius: 12px;

$medium_size: 50px;
$medium_radius: 20px;

$grande_size: 80px;
$grande_radius: 30px;

$big_size: 120px;
$big_radius: 50px;
