@import 'variables/colors';
@import 'variables/fonts';

.base {
  line-height: 1;
  padding: 6px;
  stroke: none;

  svg {
    display: block;
  }
}

// types

.primary {
  fill: $grey2;
}

.brand {
  fill: $brand;
}

.terciary {
  fill: $grey3;
}

.correct {
  fill: $correct;
}

.wrong {
  fill: $wrong;
}

.accent {
  fill: $accent;
}

.negative {
  fill: white;
}

.black {
  fill: $grey1;
}

// sets

.standard, .custom {
  padding: 0px;
}

// sizes

.smaller {
  width: 10px;
  height: 10px;
  padding: 0px;
}


.small {
  width: 16px;
  height: 16px;
  padding: 0px;
}

.medium {
  width: 32px;
  height: 32px;
}

.big {
  width: 64px;
  height: 64px;
}
