@import 'variables/colors';
@import 'variables/fonts';
@import 'variables/z-index';

$illustration_size: 100px;

.modal {
  display: flex;
  flex-direction: column;
  font-family: $font-stack;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: $z_index_modal;
  overflow-y: scroll;

  .overlay {
    box-sizing: border-box;
    position: fixed;
    width: 100%;
    height: 100%;
    background: radial-gradient(ellipse at center, rgba($grey3, .7) 1%, rgba($grey2, .7) 98%);
    padding: 60px;
    padding-top: 120px;
    overflow-y: scroll;
  }

  .box {
    width: 460px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, .3);
    position: relative;
    margin: auto;
    transform: translate(0, 0);

    &.big {
      width: 800px;
    }

    &.negative {
      .form {
        background: $brand;
        border-radius: 10px;

        .header {
          background: $brand;
          color: white;
          width: 420px;
          margin: 0 auto 40px;

          .illustration {
            margin-top: -50px;
          }

          .title {
            color: white;
          }

          .description {
            color: white;
          }
        }

        .element {
          background: white;
          overflow: hidden;

          &:last-child {
            border-radius: 0 0 10px 10px;
          }
        }
      }
    }

    &:focus {
      outline: none;
    }

    .form {
      display: flex;
      flex-direction: column;

      .close,
      .back {
        position: absolute;
        top: 20px;
      }

      .back {
        left: 30px;
      }

      .close {
        right: 20px;

        > button {
          outline: none;
          border: none;
          background: transparent;

          > svg {
            width: 16px;
            height: 16px;
          }
        }
      }

      .header {
        margin: 30px 30px 0 30px;
        text-align: center;

        .illustration {
          stroke: $brand;
          display: flex;
          align-items: center;
          justify-content: center;
          overflow: hidden;
          width: $illustration_size;
          height: $illustration_size;
          background: white;
          border-radius: 30px;
          margin: 0 auto;
          margin-top: -80px;
          margin-bottom: 30px;
          box-shadow: 0px 10px 20px rgba(0, 0, 0, .1);
        }

        .title {
          font-size: $h3;
          line-height: 25px;
          font-weight: 500;
          margin-bottom: 5px;
          color: $grey1;
        }

        .description {
          font-size: $h4;
          line-height: 25px;
          font-weight: 400;
          color: $grey2;
        }
      }

      .element {
        flex: 1 1 auto;
        border-bottom: 1px solid $grey4;

        &:last-of-type {
          border-bottom: none;
        }
      }

      .footer {
        padding: 20px 30px;
        background: $grey5;
        border-top: 1px solid $grey4;
        border-radius: 0px 0px 10px 10px;
        display: flex;
      }
    }
  }
}

.noFixed {
  position: inherit;
}
