@import 'variables/colors';
@import 'variables/fonts';

.caption {
  display: table-caption;
  height: 1.5rem;
  text-align: center;
  font-size: $h4;
}

.select {
  outline: none;
  padding: 0px 5px;
  color: $grey2;
  cursor: pointer;

  &:hover {
    color: $brand;
  }
}

.month {
  composes: select;
}

.year {
  composes: select;
}
