@import './variables/colors';
@import './variables/fonts';

/* global */
:global {
  html {
    height: 100%;
  }

  body {
    background: $grey5;
    font-family: $font_stack;
    font-size: $h5;
    color: $grey2;
    height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  #root {
    display: flex;
    height: 100%;
    flex-direction: row;
  }

  a {
    color: $brand;
    text-decoration: none;
  }

  a:active {
    outline: 0;
  }

  textarea { overflow: auto; }

  button {
    background: none;
    border: none;
    cursor: pointer;
    margin: 0px;
  }

  input:focus,
  button:focus,
  textarea:focus {
    outline: 0;
  }

  ul {
    list-style: none;
  }

  h2, h3, h4 {
    font-weight: 500;
    color: $grey1;
  }
}
